@*
  
  AspNetCore API Template
  (C) 2020-23 Alessio Saltarin
  MIT LICENSE
  
 *@

@inherits LayoutComponentBase

<PageTitle>AspNetCore API</PageTitle>

<main>
    <div class="container">
        @Body
    </div>
</main>
